/*untuk navbar*/
.navbar-bitbit{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    height: 80px;
    margin-bottom: 30px;
    padding: 0;

}
.navbar-brand-bitbit{
    width: 49px;
    height: 25px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #548611;
}

/*untuk page Home*/
.pppl-home-title{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #6b8a3c;
}
.pppl-home{
    margin-top: 40px;
    margin-bottom: 40px;
}
.checked {
  color:  #ffdd57;
}
.nama-produk, .deskripsi{
    color:  #548611;
}
.harga{
    margin-top: 20px;
    color: #db940f;
}
.alamat{
    margin-top: 15px;
    margin-bottom: 10px;  
    color: #707070; 
}

/*digunakan seluruh*/
.bibit-card{
    background-color: #ffffff;
}


/*untuk ratig*/
.rating{
    margin-bottom: 10px;  
}
.nilai_rating{
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
.Ulasan {
    font-family: Lato;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #456c0a;
}
.bitbit-profile-photo{
    width: 51.3px;
    height: 50px;
}

/*untuk jasa dan produk*/
.gambar-tukang {
    width: 300px;
    height: 300.8px;
}

.deskripsi_tukang{
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    text-align: justify;
}
.mahakarya{
    width: 160px;
    height: 160px;
}

/*untuk alamat*/
.alamat_deskripsi {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #548611;
}

/*untuk harga*/
.harga {
    font-family: Poppins;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
.jumlah_harga{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #456c0a;
}

/*untuk footer*/
.footer-style{
    width: 1504px;
    height: 260px;
    background-color: #fafafa;
}

.bagian-footer-style{
    margin-top: 20px;
}

.title-footer,.pppl-sidebar-title {
    width: 144px;
    height: 28px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #548611;
}

.bagian-title-footer {
    color: #548611;
    width: 117px;
    height: 23px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
}